
<!DOCTYPE html>
<html>
<head>
<title>Agent Building Website</title>
</head>
<body>
<h1>Welcome to the Agent Building Website!</h1>
<p>This website will teach you how to build language agents. We will cover the basics of language agents, and then we will provide you with hands-on exercises to help you practice what you have learned.</p>
<p>To get started, click on the "Building Agents" link in the navigation bar.</p>
<nav>
<a href="/building-agents">Building Agents</a>
<a href="/hands-on-lab">Hands-On Lab</a>
<a href="/resources">Resources</a>
</nav>
</body>
</html>


