
<!DOCTYPE html>
<html>
<head>
<title>Resources</title>
</head>
<body>
<h1>Resources</h1>
<p>In this section, you will find a list of additional resources that you can use to learn more about building language agents.</p>
<ul>
<li><a href="https://www.tensorflow.org/tutorials/text/text_classification_with_hub">TensorFlow Tutorial on Text Classification</a></li>
<li><a href="https://www.coursera.org/specializations/natural-language-processing">Coursera Specialization on Natural Language Processing</a></li>
<li><a href="https://www.udacity.com/school-of-ai/degree/nd003">Udacity Nanodegree on AI for Natural Language Processing</a></li>
</ul>
</body>
</html>

